.slider-promo {
  position: relative;
  overflow: hidden;
}
.slider-promo .slider-promo__circle-container {
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-left: 29.5px;
  margin-right: 29.5px;
  justify-content: center;
  align-items: center;
}
.slider-promo .slider-promo__circle-container .slider-promo__circle-container-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(239, 238, 246);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slider-promo .slider-promo__circle-container .slider-promo__circle-container-circle--active {
  background-color: rgb(158, 152, 220);
}
.slider-promo .slider-promo__items {
  position: relative;
  width: 100%;
  height: 702px;
  padding: 0;
  list-style: none;
}
.slider-promo .slider-promo__items .slider-promo__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 0;
  overflow: hidden;
}
.slider-promo .slider-promo__items .slider-promo__item--active {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.slider-promo .slider-promo__items .slider-promo__item--prev {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}
.slider-promo .slider-promo__items .slider-promo__item--color-pink-1 {
  background-color: rgb(255, 224, 226);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-confty svg {
  position: absolute;
  top: 22px;
  left: 44px;
  max-width: 1013px;
  max-height: 545px;
  z-index: 1;
  pointer-events: none;
}
.slider-promo .slider-promo__items .slider-promo__item img {
  position: absolute;
  z-index: 2;
  max-width: 1016px;
  max-height: 452px;
  top: 228px;
  left: 52px;
}
.slider-promo .slider-promo__items .slider-promo__item h2,
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-up-to,
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-60,
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-percent {
  position: absolute;
  z-index: 3;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  top: 49px;
  left: 427px;
  text-transform: uppercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-up-to {
  position: relative;
  z-index: 0;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0%;
  top: 104px;
  left: 308px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-up-to .slider-promo__item-up-to__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-up-to .slider-promo__item-up-to__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-60 {
  position: relative;
  z-index: 0;
  font-size: 182px;
  font-weight: 900;
  letter-spacing: 0%;
  top: 76px;
  left: 476px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-60 .slider-promo__item-60__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-60 .slider-promo__item-60__under {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 13px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-percent {
  position: relative;
  z-index: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0%;
  top: 197px;
  left: 737px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-percent .slider-promo__item-percent__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-percent .slider-promo__item-percent__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-image--bg-image {
  position: relative;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-top {
  position: absolute;
  z-index: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0%;
  top: 73px;
  left: 103px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-top .slider-promo__item-top__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-top .slider-promo__item-top__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-ten {
  position: absolute;
  z-index: 0;
  font-size: 160px;
  font-weight: 900;
  letter-spacing: 0%;
  top: 112px;
  left: 103px;
  line-height: 100%;
  text-transform: uppercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-ten .slider-promo__item-ten__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-ten .slider-promo__item-ten__under {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 11px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-books {
  position: absolute;
  z-index: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0%;
  top: 214px;
  left: 307px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-books .slider-promo__item-books__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-books .slider-promo__item-books__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-for-entrepreneurs {
  position: absolute;
  z-index: 0;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0%;
  top: 243px;
  left: 767px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(28, 42, 57);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-checkout {
  position: absolute;
  z-index: 1;
  font-size: 45px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  top: 148px;
  left: 425px;
  text-transform: uppercase;
  color: rgb(28, 42, 57);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-our {
  position: absolute;
  z-index: 0;
  font-size: 90px;
  font-weight: 900;
  letter-spacing: 0%;
  top: 233px;
  left: 295px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  max-width: 653px;
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-our .slider-promo__item-our__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo .slider-promo__items .slider-promo__item .slider-promo__item-our .slider-promo__item-our__under {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 9px;
  color: rgb(123, 16, 16);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  margin-bottom: 40px;
}

.header__logo {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__menu-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-height: 39px;
  margin-left: 120px;
}

.header__menu-items li, a {
  font-size: 10px;
  color: rgb(92, 106, 121);
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__menu-link--active {
  color: rgb(28, 42, 57);
  font-weight: 900;
}

.header__user-menu-item {
  background: none;
  border: none;
}

.header__user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  margin-left: 120px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: rgb(255, 255, 255);
}

.layout {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 166px;
  box-sizing: border-box;
}
.layout .top-card .top-card__change-book {
  position: absolute;
  z-index: 999;
  top: 195px;
  left: 1217px;
  max-height: 204px;
  height: 100%;
  max-width: 149px;
  width: 100%;
  background-color: rgb(158, 152, 220);
}
.layout .top-card .top-card__change-book .top-card__change-book-title {
  position: absolute;
  z-index: 1000;
  top: 102px;
  left: 20px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(28, 42, 57);
  text-align: left;
  max-width: 109px;
}
.layout .top-card .top-card__change-book .top-card__change-book-arrow {
  position: absolute;
  z-index: 1000;
  top: 172px;
  left: 20px;
}
.layout .top-card .top-card__top-100 {
  position: absolute;
  z-index: 999;
  top: 475px;
  left: 1303px;
  max-height: 273px;
  height: 100%;
  max-width: 137px;
  width: 100%;
  background-color: rgb(255, 143, 230);
}
.layout .top-card .top-card__top-100 .top-card__top-100-title {
  position: absolute;
  z-index: 1000;
  top: 149px;
  left: 21px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(28, 42, 57);
  text-align: left;
  max-width: 69px;
}
.layout .top-card .top-card__top-100 .top-card__top-100-arrow {
  position: absolute;
  z-index: 1000;
  top: 241px;
  left: 21px;
}

/*# sourceMappingURL=books.css.map */
