.slider-promo__items {
  padding: 0;
}
.slider-promo__items .slider-promo__item {
  position: relative;
  overflow: hidden;
  height: 702px;
  max-width: 100%;
}
.slider-promo__items .slider-promo__item--color-pink-1 {
  background-color: rgb(255, 224, 226);
}
.slider-promo__items .slider-promo__item .slider-promo__item-confty svg {
  position: absolute;
  top: 22px;
  left: 44px;
  max-width: 1013px;
  max-height: 545px;
  z-index: 1;
  pointer-events: none;
}
.slider-promo__items .slider-promo__item img {
  position: absolute;
  z-index: 2;
  max-width: 1016px;
  max-height: 452px;
  top: 235px;
  left: 52px;
}
.slider-promo__items .slider-promo__item h2, .slider-promo__items .slider-promo__item .slider-promo__item-up-to, .slider-promo__items .slider-promo__item .slider-promo__item-60, .slider-promo__items .slider-promo__item .slider-promo__item-percent {
  position: absolute;
  z-index: 3;
}
.slider-promo__items .slider-promo__item .slider-promo__item-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  top: 69px;
  left: 427px;
  text-transform: uppercase;
}
.slider-promo__items .slider-promo__item .slider-promo__item-up-to {
  position: relative;
  z-index: 0;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0%;
  top: 104px;
  left: 308px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo__items .slider-promo__item .slider-promo__item-up-to .slider-promo__item-up-to__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo__items .slider-promo__item .slider-promo__item-up-to .slider-promo__item-up-to__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}
.slider-promo__items .slider-promo__item .slider-promo__item-60 {
  position: relative;
  z-index: 0;
  font-size: 182px;
  font-weight: 900;
  letter-spacing: 0%;
  top: 76px;
  left: 476px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo__items .slider-promo__item .slider-promo__item-60 .slider-promo__item-60__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo__items .slider-promo__item .slider-promo__item-60 .slider-promo__item-60__under {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 13px;
  color: rgb(83, 79, 210);
}
.slider-promo__items .slider-promo__item .slider-promo__item-percent {
  position: relative;
  z-index: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0%;
  top: 197px;
  left: 737px;
  line-height: 100%;
  text-transform: lowercase;
}
.slider-promo__items .slider-promo__item .slider-promo__item-percent .slider-promo__item-percent__over {
  position: absolute;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.slider-promo__items .slider-promo__item .slider-promo__item-percent .slider-promo__item-percent__under {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  color: rgb(83, 79, 210);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  margin-bottom: 40px;
}

.header__logo {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__menu-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-height: 39px;
  margin-left: 120px;
}

.header__menu-items li, a {
  font-size: 10px;
  color: rgb(92, 106, 121);
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__menu-link--active {
  color: rgb(28, 42, 57);
  font-weight: 900;
}

.header__user-menu-item {
  background: none;
  border: none;
}

.header__user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  margin-left: 120px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: rgb(255, 255, 255);
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 166px;
  box-sizing: border-box;
}

/*# sourceMappingURL=books.css.map */
