@use "variables";
@use "slider";
@use "header";

html, body {
    margin: 0;
    padding: 0;

    // Шрифты
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: variables.$bg-color;
}


.layout {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 166px;
    box-sizing: border-box;
}