main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: 105px;

    .books-content__items {
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex-wrap: wrap;
        gap: 76px;

        .books-content__item {
            display: flex;
            justify-content: space-between;
            max-width: 424px;
            width: 100%;
            max-height: 300px;
            height: 100%;
            gap: 36px;

            .books-content__item-left {

                .books-content__item-left-image {
                max-width: 212px;
                max-height: 300px;
                height: 100%;
                }

            }

            .books-content__item-right {
                max-width: 176px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                font-family: "Open Sans, sans-serif";
                font-weight: 400;
                font-size: 10px;
                margin-top: 49px;

                .books-content__item-right-author {
                    color: rgba(92, 106, 121, 1);
                    line-height: 100%;
                    letter-spacing: 0%;}

                .books-content__item-right-title {
                font-family: "Montserrat, sans-serif";
                font-weight: 700;
                font-size: 16px;
                color: rgba(28, 42, 57, 1);
                margin: 0 0 6px 0;
                line-height: 1.3;
                word-break: break-word;
                }

                .books-content__item-right-rating {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    max-height: 14px;
                    height: 100%;
                    gap: 6px;
                        .books-content__item-right-rating-ratingsCount {
                            color: rgba(92, 106, 121, 1);
                        }
                }

                .books-content__item-right-description {
                    color: rgba(92, 106, 121, 1);
                    max-height: 38px;
                    height: 100%;
                }

                .books-content__item-right-saleInfo {
                    font-weight: 700;
                    color: rgba(28, 42, 57, 1);
                    text-transform: uppercase;
                    font-size: 13px;
                    text-transform: uppercase;
                }

                .books-content__item-right-buttonBuy{
                    padding: 18px 67px 17px 66px;
                    white-space: nowrap;
                    background: none;
                    border: 1px solid rgba(76, 61, 178, 1);

                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 8px;
                    color: rgba(76, 61, 178, 1);
                    cursor: pointer;
                }

            }
        }
    }
}